# Environment files
.env
.env.*
!.env.example

# Node
node_modules/
dist/
npm-debug.log*

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# IDE and OS files
.DS_Store
Thumbs.db
.idea/
.vscode/
